/* основной цвет текста color: #000000; */
/* вторичный цвет текста color: rgba(0, 0, 0, 0.8); */
/* Белый цвет #FFFFFF */
/* акцент background: #18A0FB */
/* для вкладки background: #F5F5F5; */
:root {
--primary-text-color: rgba(0, 0, 0, 0.8);
--title-text-color: #000000;
--accent-color: #18A0FB;
--primery-white-color: #FFFFFF;
}

body {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: -0.015em;
        font-size: 18px;
        line-height: 1.67;
        background-color: var(--primery-white-color);
        color: var(--primary-text-color);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
}

.hofo:hover,
.hofo:focus {color: #000000;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    outline: 2px solid tomato;
  }
  /* -----Buttons-------- */

  .secondary {
    background-color: var(--accent-color);
    color: #FFFFFF;
  }
  .primary {
    background-color: #FFFFFF;
    color: var(--accent-color);
    border-color: 1px solid var(--accent-color);
  }

  .btn {
    border-color: 1px solid var(--accent-color);
    text-align: center;
    display: inline-block;
    border-radius: 6px;
 padding: 11px 34px;
 min-width: 130px;
  }

/* ----------Header------------ */

.logo {
    color: var(--title-text-color);
    font-family: 'Comfortaa', sans-serif;
    font-size: 28px; 
    line-height: 1.14;
    text-decoration: none;
}
/* site nav */

.page-header {
    background-color: #ccc;
}

.header-link {
    font-weight: 500;
        font-size: 15px;
        line-height: calc(18 / 15);
        align-items: center;
        text-align: center;
        letter-spacing: -0.015em;
        color: #18A0FB;
}


.primary,
.secondary {
        font-weight: 500;
        font-size: 15px;
        line-height: calc(18 / 15);
        align-items: center;
        text-align: center;
        letter-spacing: -0.015em;
    }

.log-button {
    color: var(--accent-color);
    background-color: #FFFFFF;
    border: 1px var(--accent-color);
}
.reg-button {
    background: var(--accent-color);
color: #FFFFFF;
}

/* ---------Hero----------------*/

.hero-section {
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 40px;
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 56px;
    line-height: 1.43;
}

.hero-button {
    font-weight: 500;
        font-size: 17px;
        line-height: calc(21 / 17);
        align-items: center;
        text-align: center;
        letter-spacing: -0.015em;
        color: var(--primery-white-color);
        background: var(--accent-color);
        border: 1px solid transparent;
    text-align: center;
    display: inline-block;
    border-radius: 6px;
 padding: 15.3px 51.78px 15.7px 52.22px;
 min-width: 192px;
}

/* Section and Examples*/

 /* Features */
 
 .features-section {
    padding-top: 120px;
    padding-bottom: 120px;
 }

.features-section-title {
    margin-top: 0;
    margin-bottom: 60px;
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 48px;
    line-height: 1.5;
    text-align: center;
}

    .features-title {
        margin-top: 0;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.5;
        letter-spacing: -0.015em;
        color: var(--title-text-color);
    }
    
.features-text {
    margin-top: 0;
    margin-bottom: 34px;
        font-weight: 400;
font-size: 18px;
line-height: 1.67;
letter-spacing: -0.015em;
color: rgba(0, 0, 0, 0.8);
}



/* features Button */

.features-link {
    font-weight: 500;
font-size: 15px;
line-height: calc(18 / 15);
align-items: center;
text-align: center;
letter-spacing: -0.015em;
color: var(--accent-color);
}

/* ---------Work-------- */

.work-section {
    padding-top: 0;
    padding-bottom: 0;
}

.work-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.015em;
    color: var(--title-text-color);
}

.work-item {
    padding-top: 80px;
    padding-bottom: 80px;
}
.work-list > .work-item:nth-child(2n) {
background-color: red;
}

.work-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
}

/* --------client-------- */

.client-section {
    padding-top: 100px;
    padding-bottom: 120px;
}

.client-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 48px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: -0.015em;
    color: var(--title-text-color);
}

.client-text {
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 36px;
line-height: 1.39;
text-align: center;
letter-spacing: -0.015em;
color: rgba(0, 0, 0, 0.8);
}

/* -------registration------- */
.registration {
    padding-top: 120px;
    padding-bottom: 120px;
}
.registration-text {
    font-size: 36px;
line-height: 1.39;
letter-spacing: -0.015em;
color: rgba(0, 0, 0, 0.8);
}

.registration-button {
    font-weight: 500;
font-size: 17px;
line-height: calc(21 / 17);
align-items: center;
text-align: center;
letter-spacing: -0.015em;
}